header
    nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
        div(class="container")
            a(href="#!", class="navbar-brand") LOGO
            button(type="button", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation", class="navbar-toggler", data-target="#navbarSupportedContent", data-toggle="collapse")
                span(class="navbar-toggler-icon")
            div(class="collapse navbar-collapse", id="navbarSupportedContent")
                ul(class="navbar-nav mr-auto")
                    li(class="nav-item active")
                        a(href="#!", class="nav-link") Home
                            span(class="sr-only") (current)
                    li(class="nav-item")
                        a(href="#!", class="nav-link") Link
                    li(class="nav-item dropdown")
                        a(href="#", id="navbarDropdown", aria-expanded="false", aria-haspopup="true", class="nav-link dropdown-toggle", data-toggle="dropdown" , role="button") Dropdown
                        div(aria-labelledby="navbarDropdown", class="dropdown-menu animate slideIn")
                            a( href="#", class="dropdown-item") Action
                            a( href="#", class="dropdown-item") Another action
                            div(class="dropdown-divider")
                            a( href="#", class="dropdown-item") Something else here
                    li(class="nav-item")
                        a(href="#!", class="nav-link disabled", aria-disabled="true", tabindex="-1") Disabled
                form(class="form-inline my-2 my-lg-0")
                    input(type="search", class="form-control mr-sm-2", aria-label="Search", placeholder="Search")
                    button(type="submit", class="btn btn-primary my-2 my-sm-0") Search