//- Include variables
//- ----------------------------------------------------------------------------
include application/_variables.jade

//- Extends laout (s)
//- ----------------------------------------------------------------------------
extends application/layouts/_default.jade

block main-content
    div(class="container")
        div(class="row my-2")
            div(class="col-sm-12, col-md-12")  
                h1 Bootstrap starter template
                p(class="lead")
                |Use this document as a way to quickly start any new project.
                br
                |All you get is this text and a mostly barebones HTML document.
